<!DOCTYPE html>
<html>
  <head>
    <title>Learning CSS</title>
    <style>
      body {
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
      }
      
      div {
        border: 1px solid black;
        background-color: #eee;
        padding: 20px;
      }

      .floating {
        float: left;
        width: 30%;
      }
      .clear {
        clear: both;
      }
    </style>
  </head>
  <body>
    <div class="floating">Floating Div</div>
    <div class="floating">Floating Div</div>
    <div class="clear">Figurative text</div>
  </body>
</html>